# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development
*.log
.DS_Store

# Project specific
data/
model/data/
.mypy_cache/
.ruff_cache/
Analyse temporelle/

# Configuration and utility files
setup.sh
run.sh
cron.txt
ruff.toml
# cursor_prompt.txt

# joblib files
*.joblib
